{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      var socket = new WebSocket('wss://' + window.location.host + '/ws/play');
      app.players = {{players|safe}}
      app.recieved = 0;
      app.updateSpeed = "{{updateSpeed}}";
      app.gameOver = false;
      app.minWords = 6;
      app.reset=0;
      app.prompt={{prompt}};
      app.roundTime = {{roundTime}};
      app.oneWord = {{oneWord}};
      app.lossMsg = "";
      $('#resetButton').hide();


      socket.onmessage = function(receivedMessage) {
        let data = JSON.parse(receivedMessage.data);
        if (data['name']=="host"){
          let id = data['id'];

          if (data['reset']){
            app.reset+=1;
            if (app.reset == app.players.length){
              window.location.href = window.location.href;
            }
          }
          app.stories[id] = data['story'];
          if (data['final']){
            app.recieved+=1;
            if (data['gameOver']){
              app.gameOver=true;
              if(app.lossMsg){
                app.lossMsg += " and " + data['lossMsg'];
              }
              else{
                app.lossMsg = data['lossMsg'];
              }
            }
          }
          let allRecieved = app.recieved == app.players.length
          if ((app.updateSpeed == 'fast') || (allRecieved && (app.updateSpeed=='normal' || app.gameOver))) {
            app.updateStories();
          }
          if (allRecieved){
            if (app.gameOver){
              app.handleGameOver();
            }
            else{
              app.swapStories();
              app.recieved=0;
            }
          }

        }
        console.log(receivedMessage['data']);
      }

      app.handleGameOver = function() {
          $('#Description').html('Game Over because ' + app.lossMsg +"!");
          app.players.forEach((element) => socket.send(JSON.stringify({'name':element,'gameOver':true})));
          $('#resetButton').show();
      }

      app.swapStories = function(){
        app.players.push(app.players.shift()); //Changes ID order
        app.players.forEach((element,index) => socket.send(JSON.stringify({'name':element,'id':index+1,'story':app.stories[index+1]})));
      }

      app.setup = function(){
        app.stories = {};
        app.players.forEach((element,index) => socket.send(JSON.stringify({'name':element,'id':index+1,'minWords':app.minWords,'roundTime':app.roundTime,'prompt':app.prompt,'oneWord':app.oneWord})));
        app.players.forEach((element,index) => app.stories[index+1]="");
      }
      socket.onopen = app.setup;

      app.updateStories = function(){
        for(let id = 1; id<=app.players.length; id++){
          $('#'+id).html(app.stories[id]);
        }
      }

      app.resetGame = function(){
        app.players.forEach((element) => socket.send(JSON.stringify({'name':element,'reset':true})));
      }

    }
  </script>
{% endblock scripts %}
{% block body %}
  <div class='container'>
    <h3 class='text-center'>Collaborative Storytelling</h3>
    <h6 id="Description" class='text-center'>Write your stories on your phone!</h6>
    <ol>
    {% for player in playersList %}
      <li id="{{forloop.counter}}"></li>
    {% endfor %}
    <ol>
    <btn id="resetButton" class="btn btn-success" onclick="app.resetGame()"> Play Again </btn>

  </div>
  <!-- <input id="testInput"\>
  <btn onclick="app.sendMessage()"> Submit </btn> -->
{% endblock body %}
