{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      var socket = new WebSocket('ws://' + window.location.host + '/ws/setup');
      socket.onmessage = function(receivedMessage) {
        console.log(receivedMessage);
      }
      /*
      app.sendMessage = function sendMessage(){
        let msg = document.getElementById('testInput').value;
        socket.send(msg);
      }
      */
      var url = new URL(window.location.href);
      var players = JSON.parse(url.searchParams.get("players"));
      var hasPrompt = false;
      app.oneWord = false;

      app.playGame = function playGame() {
        let roundTime = document.getElementById('time').value;
        window.location.href = "{% url 'play' %}"
        + "?players=" + JSON.stringify(players) + "&time=" + roundTime + "&prompt=" + hasPrompt +"&oneWord="+app.oneWord;
      }

      app.clickPromptSwitch = function clickPromptSwitch() {
        hasPrompt=!hasPrompt;
      }
      app.clickRequiredWordSwitch = function clickPromptSwitch() {
        app.oneWord = !app.oneWord;
      }
    }
  </script>
{% endblock scripts %}
{% block body %}
  <!--
  <input id="testInput"\>
  <btn onclick="app.sendMessage()"> Submit </btn>
  -->
  <div>
    <span>Enter a round time in seconds:</span>
    <input id="time"\>
  </div>

  <div>
    <span>Enable Prompt:</span>
    <label class="switch">
      <input type="checkbox" onclick="app.clickPromptSwitch()">
      <span class="slider round"></span>
    </label>
  </div>
  <div>
    <span>Enable Required Word:</span>
    <label class="switch">
      <input type="checkbox" onclick="app.clickRequiredWordSwitch()">
      <span class="slider round"></span>
    </label>
  </div>

  <button onclick="app.playGame()"> Play </button>
{% endblock body %}
