{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      if (location.protocol == 'https:'){
        var socket = new WebSocket('wss://' + window.location.host + '/ws/setup');
      } else{
        var socket = new WebSocket('ws://' + window.location.host + '/ws/setup');
      }
      socket.onmessage = function(receivedMessage) {
        console.log(receivedMessage);
      }
      /*
      app.sendMessage = function sendMessage(){
        let msg = document.getElementById('testInput').value;
        socket.send(msg);
      }
      */
      var url = new URL(window.location.href);
      var players = JSON.parse(url.searchParams.get("players"));
      var hasPrompt = false;
      app.oneWord = false;

      app.playGame = function playGame() {
        let roundTime = document.getElementById('time').value;
        window.location.href = "{% url 'play' %}"
        + "?players=" + JSON.stringify(players) + "&time=" + roundTime + "&prompt=" + hasPrompt +"&oneWord="+app.oneWord;
      }

      app.clickPromptSwitch = function clickPromptSwitch() {
        hasPrompt=!hasPrompt;
      }
      app.clickRequiredWordSwitch = function clickPromptSwitch() {
        app.oneWord = !app.oneWord;
      }
    }
  </script>
{% endblock scripts %}

{% block style %}
<style>
  #pb {
    margin-top: 50px;
    margin-left: 430px;
  }
  #settingsBox{
    text-align: center;
    outline: 5px solid black;
  }
  #p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  #s1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: left;
  }
  #s2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: left;
  }
</style>
{% endblock style %}

{% block body %}
  <!--
  <input id="testInput"\>
  <btn onclick="app.sendMessage()"> Submit </btn>
  -->
  <div id="topTextDesktop">
    <p id="titleDesktop">Settings</p>
  </div>

  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div id="settingsBox" class="col-6">
        <p id="p1">Enter Round Time (Seconds)</p>
        <input id="time" style="height:50px; width:300px; text-align: center;"\>

        <br><br>

        <div class="row">
          <div class="col-8" style="text-align:left;padding-left:120px">
            <span id="s1">Prompt:</span>
            <br>
            <span id="s2">Required Word:</span>
          </div>
          <div class="col-4" style="text-align:left;padding:4px 0px 0px">
            <label class="switch">
              <input type="checkbox" onclick="app.clickPromptSwitch()">
              <span class="slider round"></span>
            </label>
            <br>
            <label class="switch">
              <input type="checkbox" onclick="app.clickRequiredWordSwitch()">
              <span class="slider round"></span>
            </label>
          </div>


        </div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <btn id="pb" class="btn btn-success" style="width:250px; height:75px; font-size: 35px;" onclick="app.playGame()"> PLAY </btn>
      </div>
    </div>
  </div>
{% endblock body %}
