{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      if (location.protocal == 'https:'){
        var socket = new WebSocket('wss://' + window.location.host + '/ws/setup');
      } else{
        var socket = new WebSocket('ws://' + window.location.host + '/ws/setup');
      }
      /*
      app.sendMessage = function sendMessage(){
        let msg = document.getElementById('testInput').value;
        socket.send(msg);
      }
      */
      var players = [];

      socket.onmessage = function(receivedMessage) {
        let newName = receivedMessage.data;
        players.push(newName);
        $("#playersList").append('<li>' + newName + '</li>');
      }

      $(document).ready(function() {
        $("#sb").click(function(){
          window.location.href = "{% url 'settings' %}" + "?players=" + JSON.stringify(players);
        });
      });
    }
  </script>
{% endblock scripts %}
{% block body %}
  <div id="topText">
    Welcome to Collaborative Storytelling!
  </div>

  <div id="qrcode">
    <p>Scan QR Code to Register.</p>
  </div>
  <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), window.location.href + "join");
  </script>

  <div>
    <p>Current Players:</p>
    <ol id="playersList"></ol>
  </div>

  <div id="start">
    <button id="sb">Start</button>
  </div>
{% endblock body %}
