{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      app.storyID=-1;
      var socket = new WebSocket('ws://' + window.location.host + '/ws/play');
      $("#testInput").hide();
      $('#testBtn').hide();
      socket.onopen = function(){
        socket.send(JSON.stringify({name:'host',reset:true}));
      }
      app.story = "";
      app.prompts= ["space","UC Berkeley",'aliens','dogs','a prince in a castle','nuclear war','the apocolypse',
      'fun things to do on a weekend','timetravel','your least favorite things','christmas','an angry old man',
      'a happy young couple'];

      socket.onmessage = function(receivedMessage) {
        let data = JSON.parse(receivedMessage.data);
        if (data['name']=="{{name}}"){
          if ('id' in data){ //handling storyID changes
            app.storyID = data['id'];
          }
          if ('gameOver' in data){ //handling gameOver
            app.handleGameOver();
          }
          else if ('story' in data){ //handling story Switch
            app.story = data['story'];
            $('#topMessage').html('Story so far: ' + app.story);
            document.getElementById('testInput').value="";
          } else if ('reset' in data){ //Handling a game reset
            window.location.href = window.location.href;
          }
          else{ //handling startup
            app.minWords = data['minWords'];
            if (data['prompt']){
              let prompt = app.prompts[Math.floor(Math.random()*app.prompts.length)];
              $('#topMessage').html('Write a story about ' + prompt +":")
            }
            else{
              $('#topMessage').html('Write a story:')
            }
            $("#testInput").show();
            $('#testBtn').show();
          }
          console.log(data);
        }
      }

      app.sendMessage = function(){
        let msg = document.getElementById('testInput').value;
        let gameOver = msg.split(" ").length < app.minWords;
        socket.send(JSON.stringify({name:'host',id:app.storyID,story:app.story + " " + msg,gameOver:gameOver}));
      }

      app.handleGameOver = function (){
        $('#topMessage').html('Game Over! Look at main screen to see stories and wait for host to restart game.')
        $('#testInput').hide();
        $('#testBtn').hide();
      }
    }
  </script>
{% endblock scripts %}
{% block body %}
  <p id= 'topMessage'>Wait for the host</p>
  <input id="testInput"\>
  <btn id='testBtn' onclick="app.sendMessage()"> Submit </btn>
{% endblock body %}
