{% extends 'game/base.html' %}

{% block scripts %}
  <script>
    app = {}

    window.onload = function() {
      app.storyID=-1;
      var socket = new WebSocket('wss://' + window.location.host + '/ws/play');
      $("#testInput").hide();
      $('#testBtn').hide();
      $('#timer').hide();
      $('#wordReminder').hide();
      socket.onopen = function(){
        socket.send(JSON.stringify({name:'host',reset:true}));
      }
      app.story = "";
      app.prompts= ["space","UC Berkeley",'aliens','dogs','a prince in a castle','nuclear war','the apocolypse',
      'fun things to do on a weekend','time travel','your least favorite things','christmas','an angry old man',
      'a happy young couple'];



      app.countdown=function countdown() {
        if (app.timeLeft == -1) {
          clearTimeout(app.timerId);
          app.sendMessage(true);
          app.timeLeft = app.roundTime;
        } else {
          $('#timer').html(app.timeLeft + ' seconds remaining');
          app.sendMessage(false);
          app.timeLeft--;
        }
      }

      socket.onmessage = function(receivedMessage) {
        let data = JSON.parse(receivedMessage.data);
        if (data['name']=="{{name}}"){
          if ('id' in data){ //handling storyID changes
            app.storyID = data['id'];
          }
          if ('gameOver' in data){ //handling gameOver
            app.handleGameOver();
          }
          else if ('story' in data){ //handling story Switch
            app.story = data['story'];
            app.minWords+=1;
            if (app.oneWord){
              let request = new XMLHttpRequest();
              request.open('GET', 'https://random-word-form.herokuapp.com/random/noun', true);
              request.onload = function (e){
                app.word = request.responseText.slice(2,-2);
                $('#topMessage').html('Continue the story (you must include the word "'+ app.word +'")! The story so far: ' + app.story);
              }
              request.send();
            } else{
              $('#topMessage').html('Continue the story! The story so far: ' + app.story);
            }

            document.getElementById('testInput').value="";
            app.timerId = setInterval(app.countdown,1000);
          } else if ('reset' in data){ //Handling a game reset
            window.location.href = window.location.href;
          }
          else{ //handling startup
            app.minWords = data['minWords'];
            app.oneWord = data['oneWord'];
            app.word="";
            if (data['prompt']){
              let prompt = app.prompts[Math.floor(Math.random()*app.prompts.length)];
              $('#topMessage').html('Write a story about ' + prompt +":")
            }
            else{
              $('#topMessage').html('Write a story:')
            }
            app.roundTime = data['roundTime'];
            app.timeLeft = data['roundTime'];
            app.timerId = setInterval(app.countdown,1000);
            $("#testInput").show();
            $('#testBtn').show();
            $('#timer').show();
            $('#wordReminder').show();
          }
          console.log(data);
        }
      }



      app.sendMessage = function(final){
        let msg = document.getElementById('testInput').value.trim();
        let requiredWords=app.minWords
        if (msg!=""){
          requiredWords -= msg.split(/ +/).length;
        }
        $('#wordReminder').html(requiredWords + ' more words needed!');
        let tooShort = final && requiredWords>0;
        let missingWord = final && app.oneWord && !msg.match(new RegExp(app.word))

        let gameOver = final && (tooShort || missingWord);
        if (gameOver){
          let lossMsg = "{{name}}'s message ";
          if (tooShort){
            lossMsg += "was too short"
            if (missingWord){
              lossMsg += " and didn't include " + app.word
            }
          } else{
            lossMsg += "didn't include " + app.word
          }
            socket.send(JSON.stringify({name:'host',id:app.storyID,story:app.story + " " + msg,gameOver:gameOver,final:final,lossMsg:lossMsg}));
        }
        else{
            socket.send(JSON.stringify({name:'host',id:app.storyID,story:app.story + " " + msg,gameOver:gameOver,final:final}));
        }

      }

      app.handleGameOver = function (){
        $('#topMessage').html('Game Over! Look at main screen to see stories and wait for host to restart game.')
        $('#testInput').hide();
        $('#testBtn').hide();
        $('#timer').hide();
        $('#wordReminder').hide();
      }
    }
  </script>
{% endblock scripts %}
{% block body %}
  <p id='timer'>?? Seconds Remaining</p>
  <p id='wordReminder'>?? more words needed</p>
  <p id= 'topMessage'>Wait for the host</p>
  <input id="testInput"\>
  <btn id='testBtn' onclick="app.sendMessage(true)"> Submit </btn>
{% endblock body %}
